<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>D'Hondt Seats Calculation </title>

		<!-- Bootstrap core CSS -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome-all.min.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/tempusdominus-bootstrap-4.min.css') }}">
	</head>
	<body class="bg-white">
		<div class="d-flex">
			<div class="container bg-light mt-5 mb-5">
				<div class="py-5 text-center">
					<h2>D'Hondt Seats Calculation </h2>
				</div>
				<hr/>
				<div class="col-md-12 order-md-1">
					<form id="dhondt-form">
						<div class="form-row align-items-end">
							<div class="form-group col-md-2">
								<label>District</label>
								<select class="form-control" id="cmbDistrict" data-required="true" disabled> 
									<option value="">::Select::</option>
								</select>
							</div>
							<div class="form-group col-md-4">
								<label >Scrutiny</label>
								<select class="form-control" id="cmbScrutiny" data-required="true" disabled> 
									<option value="">::Select::</option>
								</select>
							</div>
							<div class="form-group col-md-4">
								<label >Political Patiy List</label>
								<select class="form-control" id="cmbPpl" data-required="true" disabled> 
									<option value="">::Select::</option>
								</select>
							</div>
							<div class="form-group col-md-1">
								<label >Votes</label>
								<input id="input-vote" class="form-control input-auto-complete" type="text" placeholder="" value="" autocomplete="off">
							</div>
							<div class="form-group col-md-1">
								<button type="submit" id="voteUpdate" class="btn btn-primary">Update</button>
							</div>
						</div>

						<div class="form-row align-items-end">
							<div class="form-group col-md-2">
							</div>

							<div class="form-group col-md-1">
								<button type="submit" id="scrutiny-create-button" class="btn btn-block btn-success">Create</button>
							</div>
							<div class="form-group col-md-1">
								<button type="submit" id="scrutiny-list-button" class="btn btn-block btn-info">List</button>
							</div>
							<div class="form-group col-md-2">
								<button type="submit" id="getSeats" class="btn btn-block btn-info">Historical Seats </button>
							</div>						

							<div class="form-group col-md-1">
								<button type="submit" id="ppl-create-button" class="btn btn-success">Create</button>
							</div>
							<div class="form-group col-md-3">
								<button type="submit" id="ppl-list-button" class="btn  btn-info">List</button>
							</div>

							<div class="form-group col-md-2">
							</div>
						</div>
						
						<div id="dynamic-input-group1" class="container mt-5" style="display:none">
							<div class="form-row align-items-center">
								<div id="din-input1" class="form-group col-md-3">
									<label >Voting Date </label>
									<input id="input-voting-date" class="form-control input-auto-complete" type="text" placeholder="" value="" autocomplete="off">							
								</div>
								<div id="din-input2" class="form-group col-md-3">
									<label >Scrutiny Date</label>
									<input id="input-scrutiny-date" class="form-control input-auto-complete" type="text" placeholder="" value="" autocomplete="off">							
								</div>
								<div id="din-input3" class="form-group col-md-3">
									<label >Scrutiny Name</label>
									<input id="input-scrutiny-name" class="form-control input-auto-complete" type="text" placeholder="" value="" autocomplete="off">							
								</div>
								<div id="din-input4" class="form-group col-md-3">
									<label >Total Seats Available</label>
									<input id="input-seats" class="form-control input-auto-complete" type="text" placeholder="" value="" autocomplete="off">							
								</div>
								<div id="din-input5" class="form-group col-md-3">
									<label >Politycal Party List Name </label>
									<input id="input-ppl-name" class="form-control input-auto-complete" type="text" placeholder="" value="" autocomplete="off">							
								</div>
								<div id="din-input6" class="form-group col-md-3">
									<label > Electors Quantity </label>
									<input id="input-electors-quantity" class="form-control input-auto-complete" type="text" placeholder="" value="" autocomplete="off">							
								</div>
							</div>
								
							<div class="d-flex justify-content-center">
								<div class="form-row align-items-center">
									<button id="save-data-button" class="btn btn-lg btn-success"> Save </button>
								</div>
							</div>
						</div>		
					</form>											
				</div>
				<hr/>

				<h4 class='text-center'>Seats Calculation</h4>
				
				<div class="d-flex justify-content-center">
					<div class="d-flex justify-content-center col-md-3">
						<button type="submit" id="calcSeats" class="btn btn-md btn-danger">Calculate Seats</button>
					</div>
				</div>
				

				<div id="dynamic-group-2" class="container mt-5" style="display:none">
					<h4 id="dynamic-table-name" class='text-center'> </h4>
					<div id="dynamic-table">
					</div>					
				</div>
			</div>
		</div>			
		
		<!-- Bootstrap core JavaScript -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/moment.js') }}"></script>
		<script src="{{ url_for('static', filename='js/tempusdominus-bootstrap-4.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/bootstrap-autocomplete.min.js') }}"></script>
		<script>
			let cmbScr;
			let cmbDist;
			let cmbPpl;

			console.enabled = true;

			// Disable or enable buttons according to selections
			function enable_or_disable_buttons_and_selectors(){
				const scmbDist = document.getElementById('cmbDistrict');
				const scmbScr = document.getElementById('cmbScrutiny');
				const scmbPpl = document.getElementById('cmbPpl');
				const bvoteUpdate = document.getElementById('voteUpdate');
				const bgetSeats = document.getElementById('getSeats');
				const bcalSeats = document.getElementById('calcSeats');
				const bscrutiny = document.getElementById('scrutiny-create-button');
				const blistscrutiny = document.getElementById('scrutiny-list-button');
				const bpplcreate = document.getElementById('ppl-create-button');
				const bppllist = document.getElementById('ppl-list-button');
			
				if (allEmpty([scmbDist.value])){
					scmbScr.innerHTML = '<option value="">::Select::</option>';
					scmbPpl.innerHTML = '<option value="">::Select::</option>';
					scmbScr.disabled = true;
					scmbPpl.disabled = true;
					bvoteUpdate.disabled = true;
					bgetSeats.disabled = true;
					bcalSeats.disabled = true;
					bscrutiny.disabled = true;
					bpplcreate.disabled = true;
					blistscrutiny.disabled = true;
					bppllist.disabled = true;
					return;					
				} 
				scmbScr.disabled = false;
				scmbPpl.disabled = false;
				bscrutiny.disabled = false;
				bpplcreate.disabled = false;				
				bppllist.disabled = false;
				if (allEmpty([scmbScr.value])){
					bvoteUpdate.disabled = true;
					blistscrutiny.disabled = true;
					bgetSeats.disabled = true;
					bcalSeats.disabled = true;
					return;
				}
				bgetSeats.disabled = false;
				bcalSeats.disabled = false;
				bvoteUpdate.disabled = false;
				blistscrutiny.disabled = false;
				if (allEmpty([scmbPpl.value])){
					bvoteUpdate.disabled = true;
				}
			}

			function disable_selectors(){
				document.getElementById('cmbDistrict').disabled = true;
				document.getElementById('cmbScrutiny').disabled = true;
				document.getElementById('cmbPpl').disabled = true;
			}		

			function disable_table(){
				$("#dynamic-table").html("");
				document.getElementById('dynamic-group-2').style.display="none";
			}
				
			function disable_group_input(group){
				document.getElementById('dynamic-input-group1').style.display = "none";
				if(group == 1 || group == 3){
					document.getElementById("input-voting-date").value = "";
					document.getElementById("input-scrutiny-date").value = "";
					document.getElementById("input-scrutiny-name").value = "";
					document.getElementById("input-seats").value = "";
					document.getElementById('din-input1').style.display = "none";
					document.getElementById('din-input2').style.display = "none";
					document.getElementById('din-input3').style.display = "none";
					document.getElementById('din-input4').style.display = "none";
				} else if (group == 2 || group == 3) {
					document.getElementById("input-ppl-name").value = "";
					document.getElementById("input-electors-quantity").value = "";
					document.getElementById('din-input5').style.display = "none";
					document.getElementById('din-input6').style.display = "none";
				}
			}

			function enable_group_input(group) {
				if(group == 1){
					document.getElementById('din-input1').style.display = "block";
					document.getElementById('din-input2').style.display = "block";
					document.getElementById('din-input3').style.display = "block";
					document.getElementById('din-input4').style.display = "block";
				} else {
					document.getElementById('din-input5').style.display = "block";
					document.getElementById('din-input6').style.display = "block";
				}
			}


			function someEmpty(varVect)	{
				return varVect.some(x => (x === null || x === "") )
			}

			function allEmpty(varVect) {
				return varVect.every(x => (x === null || x === "") )
			}
						
			function showSeatsResultTable(res) {			
				let elements = [
					'<i class="fa fa-user-clock"></i> Date',
					'<i class="fa fa-university"></i> Politic Party List' ,
					'<i class="fa fa-users"></i> Seats Obtained' ,
					];

				let data=[];
				console.log("Seats received form server: "+res);	
				let calculationDate = res.calculationDate;				
				res.seatsResults.forEach(function(result) {
					let row_data=[];
					row_data.push(calculationDate);
					// P.p. list name
					row_data.push(result.pplistName);
					// seats obtained
					row_data.push(result.seats);
					// color according result
					let row_class = "";
					if (result.seats == 0) {
						row_class = "table-warning";
					} else {
						row_class = "table-success";
					} 
					data.push({"data":row_data, "class":row_class});
				});
				//Creates the table
				showDynamicTable("Seats Calculated", elements, data, "table-hover")
			}

			function showSeatsTable(res) {			
				let elements = [
					'<i class="fa fa-user-clock"></i> Date',
					'<i class="fa fa-university"></i> Politic Party List' ,
					'<i class="fa fa-users"></i> Seats Obtained' ,
					];

				let data=[];
				console.log("Seats received form server: "+res.scrutinyResults);
				res.scrutinyResults.forEach(function(calc) {
					calc.seatsResults.forEach(function(result) {
						let row_data=[];
						row_data.push(calc.calculationDate);
						// P.p. list name
						row_data.push(result.pplistName);
						// seats obtained
						row_data.push(result.seats);
						// color according result
						let row_class = "";
						if (result.seats == 0) {
							row_class = "table-warning";
						} else {
							row_class = "table-success";
						} 
						data.push({"data":row_data, "class":row_class});
					});
				});
				//Creates the table
				showDynamicTable("Seats Calculated", elements, data, "table-hover")
			}

			function showScrutinyLisTable(res){
				let elements = [
					'<i class="fa fa-user-clock"></i> Voting Date',
					'<i class="fa fa-user-clock"></i> Scrutiny Date',
					'<i class="fa fa-inbox"></i> Name' ,
					'<i class="fa fa-users"></i> Total Seats Available' ,
					];

				let data=[];
				console.log("Scrutinies received form server: "+res.scrutinies);
				res.scrutinies.forEach(function(scrutiny) {
					let row_data=[];
					// Date of voting
					row_data.push(scrutiny.votingDate);
					// Date of scrutiny ends
					row_data.push(scrutiny.scrutinyDate);					
					// Name of scrutiny
					row_data.push(scrutiny.name);
					// Seat available					
					row_data.push(scrutiny.seats);
					data.push({"data":row_data, "class":""});
				});
				//Creates the table
				showDynamicTable("List of Scrutiny", elements, data, "table-striped")
			}

			function showPplLisTable(res){
				let elements = [
					'<i class="fa fa-university"></i> Political Party List Name',
					'<i class="fa fa-envelope-open"></i> votes',
					'<i class="fa fa-users"></i> Electors available' ,
					];

				let data=[];
				console.log("PPL received form server: "+ res.politicalPartyLists);
				res.politicalPartyLists.forEach(function(ppl) {
					let row_data=[];
					// PPL Name
					row_data.push(ppl.name);
					// Votes Received
					row_data.push(ppl.votes);					
					// Electors available
					row_data.push(ppl.electors);
					data.push({"data":row_data, "class":""});
				});
				//Creates the table
				showDynamicTable("List of Scrutiny", elements, data, "table-striped")
			}
			

			function showDynamicTable(name, elements, data, type){
				$("#dynamic-table").html("");
				document.getElementById('dynamic-group-2').style.display="block";
				disable_group_input(3);
								
				// Name
				document.getElementById('dynamic-table-name').value = name;
				// create table
				let t = document.createElement("table");
				let th = document.createElement("thead");
				let tr = document.createElement("tr");

				elements.forEach(function(element) {
					let e = document.createElement("th");
					$(e).attr("scope", "col").html(element).appendTo($(tr));
				});
				$(tr).appendTo($(th));
				$(th).appendTo($(t));

				let tb = document.createElement("tbody");
				$(tb).attr("id", "result-table").appendTo($(t));
				$(t).addClass("table").addClass(type).appendTo($("#dynamic-table"));

				data.forEach(function(row) {
					let tr = document.createElement("tr");
					row.data.forEach(function(info) {
						let td = document.createElement("td");
						$(td).html(info).appendTo($(tr));
					});					
					$(tr).addClass(row.class).appendTo($(tb));
				});
			}

			function loadCmbDistricts(){
				const select = document.getElementById('cmbDistrict');
				select.innerHTML = '<option value="">::Select::</option>';
				select.disabled = false;
				$(cmbDist.districts).each(function(i,obj ) {
					const optionElement = document.createElement('option');
					optionElement.value = i;
					optionElement.textContent = obj.name;
					select.appendChild(optionElement);
					select.appendChild(optionElement);					
				});
			}
			
			function loadDistricts(){
				$.ajax({
						url: '/dhondt/v1/districts',
						method: 'GET',
						async: false,
						cache: false,
						contentType: "application/json",
						success: function(res){
							cmbDist = res;
							loadCmbDistricts();
						}								
					});			
			}

			function loadCmbScrutiny(){
				const select = document.getElementById('cmbScrutiny');
				// Limpia las opciones actuales (si las hay)
				select.innerHTML = '<option value="">::Select ::</option>';
				select.disabled = false;
				$(cmbScr.scrutinies).each(function(i,obj ) {
					const optionElement = document.createElement('option');
					optionElement.value = i;
					optionElement.textContent = obj.name;
					select.appendChild(optionElement);
					select.appendChild(optionElement);					
				});
			}

			function loadScrutiny(){
				const select = document.getElementById('cmbDistrict');
				console.log( 'cmbDistrict = ' + select.value);
				if (allEmpty([select.value])) {
					console.log( 'Without selection!');
					return
				}
				let idDist = cmbDist.districts[select.value].id;
				$.ajax({
						url: '/dhondt/v1/districts/'+idDist+'/scrutinies',
						method: 'GET',
						async: false,
						cache: false,
						contentType: "application/json",
						success: function(res){
							cmbScr = res;
							loadCmbScrutiny();
						}								
					});			
			}

			function loadCmbPoliticalPartyList(){
				const select = document.getElementById('cmbPpl');
				// Limpia las opciones actuales (si las hay)
				select.innerHTML = '<option value="">::Select ::</option>';
				select.disabled = false;
				$(cmbPpl.politicalPartyLists).each(function(i,obj ) {
					const optionElement = document.createElement('option');
					optionElement.value = i;
					optionElement.textContent = obj.name;
					select.appendChild(optionElement);
					select.appendChild(optionElement);					
				});
			}

			function loadPoliticalPartyList(){
				const select = document.getElementById('cmbDistrict');
				console.log( 'cmbDistrict = ' + select.value);
				if (allEmpty([select.value])) {
					console.log( 'Without selection!');
					return
				}
				let idDist = cmbDist.districts[select.value].id;
				$.ajax({
						url: '/dhondt/v1/districts/'+idDist+'/political-party-lists',
						method: 'GET',
						async: false,
						cache: false,
						contentType: "application/json",
						success: function(res){
							cmbPpl = res;
							loadCmbPoliticalPartyList();
						}								
					});			
			}
			
			function calulateSeats(ev){
				const cmbDistValue = document.getElementById('cmbDistrict').value;
				const cmbScrutinyValue = document.getElementById('cmbScrutiny').value;
				ev.preventDefault();
				if (someEmpty([cmbDistValue, cmbScrutinyValue]) == true ){
					alert("Nor district and scrutiny is given!");
					return;
				}
				let idDist = cmbDist.districts[cmbDistValue].id;
				let idScr = cmbScr.scrutinies[cmbScrutinyValue].id;
				$.ajax({
						url: '/dhondt/v1/districts/'+idDist+'/scrutinies/'+idScr+'/seats-status',
						method: 'POST',
						async: false,
						cache: false,
						contentType: "application/json",		
						success: function(res){
							showSeatsResultTable(res);
						}								
					});	
			}

			function getsSeats(ev){
				disable_table();
				const cmbDistValue = document.getElementById('cmbDistrict').value;
				const cmbScrutinyValue = document.getElementById('cmbScrutiny').value;				
				ev.preventDefault();					
				if (someEmpty([cmbDistValue, cmbScrutinyValue]) == true ){
					alert("Nor district and scrutiny list is given!");
					return;
				}
				let idDist = cmbDist.districts[cmbDistValue].id;
				let idScr = cmbScr.scrutinies[cmbScrutinyValue].id;
				$.ajax({
						url: '/dhondt/v1/districts/'+idDist+'/scrutinies/'+idScr+'/seats-status',
						method: 'GET',
						async: false,
						cache: false,
						contentType: "application/json",	
						success: function(res){
							showSeatsTable(res);
						},
						error: function(xhr, status, error) {
							// Este bloque se ejecuta si hay un error en la solicitud
							const msg_err = 'Error in /dhondt/v1/districts/'+idDist+'/scrutinies, status: ';
							console.error(msg_err, status);
							console.error('Error message:', error);
							// Puedes mostrar un mensaje al usuario
							alert('Error getting historical scrutiny results for "' +
								cmbScr.scrutinies[cmbScrutinyValue].name +
								'".\nError: ' + status);
						}    															
				});	
			}

			function listScrutinies(ev) {
				disable_table();
				const cmbDistValue = document.getElementById('cmbDistrict').value;	
				ev.preventDefault();					
				if (someEmpty([cmbDistValue]) == true ){
					alert("No district is given!");
					return;
				}
				let idDist = cmbDist.districts[cmbDistValue].id;
				$.ajax({
						url: '/dhondt/v1/districts/'+idDist+'/scrutinies',
						method: 'GET',
						async: false,
						cache: false,
						contentType: "application/json",			
						success: function(res){
							showScrutinyLisTable(res);
						},
						error: function(xhr, status, error) {
							// Este bloque se ejecuta si hay un error en la solicitud
							const msg_err = 'Error in /dhondt/v1/districts/'+idDist+'/scrutinies, status: ';
							console.error(msg_err, status);
							console.error('Error message:', error);
							// Puedes mostrar un mensaje al usuario
							alert('Error getting list of scrutinies.\nError: ' + status);
						}    															
				});	
			}

			function listPplist(ev) {
				disable_table();
				const cmbDistValue = document.getElementById('cmbDistrict').value;	
				ev.preventDefault();					
				if (someEmpty([cmbDistValue]) == true ){
					alert("No district is given!");
					return;
				}
				let idDist = cmbDist.districts[cmbDistValue].id;
				$.ajax({
						url: '/dhondt/v1/districts/'+idDist+'/political-party-lists',
						method: 'GET',
						async: false,
						cache: false,
						contentType: "application/json",			
						success: function(res){
							showPplLisTable(res);
						},
						error: function(xhr, status, error) {
							// Este bloque se ejecuta si hay un error en la solicitud
							const msg_err = 'Error in /dhondt/v1/districts/'+idDist+'/political-party-lists, status: ';
							console.error(msg_err, status);
							console.error('Error message:', error);
							// Puedes mostrar un mensaje al usuario
							alert('Error getting list of scrutinies.\nError: ' + status);
						}    															
				});	
			}

			function updateVote(ev){
				const cmbDistValue = document.getElementById('cmbDistrict').value;
				const cmbPplValue = document.getElementById('cmbPpl').value;
				const raw_votes = $('#input-vote').val();
				ev.preventDefault();
				if (someEmpty([cmbDistValue, cmbPplValue, raw_votes]) == true ){
					alert("Nor district and political party list is given!");
					return;
				}
				let idDist = cmbDist.districts[cmbDistValue].id;
				let idPpl = cmbPpl.politicalPartyLists[cmbPplValue].id;
				const votes = Number(raw_votes);
				const parameters = {
					"votes": votes,
				};
				$.ajax({
						url: '/dhondt/v1/districts/'+idDist+'/political-party-lists/'+idPpl+'/vote',
						method: 'PUT',
						data: JSON.stringify(parameters),
						async: false,
						cache: false,
						contentType: "application/json",
						success: function(res){
							confirm("Political Patry List updated "+ res.politicalPartyLists.name
							+"to "+ res.politicalPartyLists.votes +" votes!");							
						},
						error: function(xhr, status, error) {
							// Este bloque se ejecuta si hay un error en la solicitud
							const msg_err = 'Error in /dhondt/v1/districts/'+idDist+'/political-party-lists/'+
											idPpl+'/vote message. Error code:';
							console.error(msg_err, status);
							console.error('Error message:', error);
							// Puedes mostrar un mensaje al usuario
							// alert('Internal error processing data. Code: ' + status);
						}    
					});	
			}

			function createScrutiny(ev) {
				disable_table();
				disable_group_input(2);
				enable_group_input(1);
				document.getElementById('dynamic-input-group1').style.display="block";
			}

			function saveScrutiny(){
				const cmbDistValue = document.getElementById('cmbDistrict').value;
				const voting_date = $('#input-voting-date').val();
				const scrutiny_date = $('#input-scrutiny-date').val();
				const scrutiny_name = $('#input-scrutiny-name').val();
				const input_seats = Number($('#input-seats').val());
				if (someEmpty([cmbDistValue, voting_date, scrutiny_date, scrutiny_name, input_seats]) == true ){
					alert("Input error!!!");
					return;
				}
				const parameters = {
					"seats": input_seats,
					"name": scrutiny_name,
					"votingDate": voting_date,
					"scrutinyDate": scrutiny_date
				};
				let idDist = cmbDist.districts[cmbDistValue].id;
				$.ajax({
						url: '/dhondt/v1/districts/'+idDist+'/scrutinies',
						method: 'POST',
						data:  JSON.stringify(parameters),
						async: false,
						cache: false,
						contentType: "application/json",			
						success: function(res){
							confirm("Scrutiny " + scrutiny_name + "created!");
							disable_group_input(3);
							loadScrutiny();
						},
						error: function(xhr, status, error) {
							// Este bloque se ejecuta si hay un error en la solicitud
							const msg_err = 'Error in /dhondt/v1/districts/'+idDist+'/scrutinies, status: ';
							console.error(msg_err, status);
							console.error('Error message:', error);
							// Puedes mostrar un mensaje al usuario
							// alert('Internal error processing data. Code: ' + status);
						}    								
				});	
			}

			function createPplist(ev) {
				disable_table();
				disable_group_input(1);
				enable_group_input(2);
				document.getElementById('dynamic-input-group1').style.display="block";
			}
			
			function savePplist(){
				const cmbDistValue = document.getElementById('cmbDistrict').value;
				const ppl_name = $('#input-ppl-name').val();
				const electors_qty = Number($('#input-electors-quantity').val());
				if (someEmpty([cmbDistValue, ppl_name, electors_qty]) == true ){
					alert("Input error!!!");
					return;
				}
				let idDist = cmbDist.districts[cmbDistValue].id;
				const parameters = {
					"name": ppl_name,
					"votingDate": electors_qty,
				};
				$.ajax({					
						url: '/dhondt/v1/districts/'+idDist+'/political-party-lists/',
						method: 'POST',
						data:  JSON.stringify(parameters),
						async: false,
						cache: false,
						contentType: "application/json",			
						success: function(res){
							confirm("Scrutiny " + scrutiny_name + "created!");
							disable_group_input(3);
							loadScrutiny();
						},
						error: function(xhr, status, error) {
							// Este bloque se ejecuta si hay un error en la solicitud
							const msg_err = 'Error in /dhondt/v1/districts/'+idDist+'/scrutinies, status: ';
							console.error(msg_err, status);
							console.error('Error message:', error);
							// Puedes mostrar un mensaje al usuario
							// alert('Internal error processing data. Code: ' + status);
						}    								
				});	
			}

			/*******************
			* Events handlers 
			*******************/
			let last_emited = 0;
	
			$("#dhondt-form").submit(function(e){
				console.log(last_emited);
				const aux = last_emited;
				last_emited = 0;
				e.preventDefault();		
				switch(aux){
					case 1:
						getsSeats(e);
						break;
					case 2:
						calulateSeats(e);
						break;
					case 3:
						updateVote(e);
						break;
					case 4:
						createScrutiny(e);
						break;
					case 5:
						listScrutinies(e);
						break;
					case 6:
						createPplist(e);
						break;
					case 7:
						listPplist(e);
						break;
					default:
						break;
				}
			});

			document.getElementById('cmbDistrict').addEventListener('change', function() {
				// Load the scrutiny select box with the current selection
				loadScrutiny();
				loadPoliticalPartyList();
				enable_or_disable_buttons_and_selectors();
			});
			// Events for allow use buttons
			document.getElementById('cmbScrutiny').addEventListener('change', function() {
				// enable buttons
				enable_or_disable_buttons_and_selectors();
			});
			document.getElementById('cmbPpl').addEventListener('change', function() {
				// enable buttons
				enable_or_disable_buttons_and_selectors();
			});

			// Event for get all seats for a particular scrutiny
			document.getElementById('getSeats').addEventListener("click", function() {	
				last_emited = 1;
				$("#dhondt-form").submit();
			});

			// Event for calculation seats for a particular scrutiny
			document.getElementById('calcSeats').addEventListener("click", function() {		
				last_emited = 2;		
				$("#dhondt-form").submit();
			});

			// Event for update vote to a particular pplist
			document.getElementById('voteUpdate').addEventListener("click", function() {
				last_emited = 3;
				$("#dhondt-form").submit();
			});

			// Event for calculation seats for a particular scrutiny
			document.getElementById('scrutiny-create-button').addEventListener("click", function() {
				last_emited = 4;
				$("#dhondt-form").submit();
			});

			// Event for list scrutinies seats for a particular scrutiny
			document.getElementById('scrutiny-list-button').addEventListener("click", function() {
				last_emited = 5;
				$("#dhondt-form").submit();
			});

			// Event for create a politcal parti list
			document.getElementById('ppl-create-button').addEventListener("click", function() {
				last_emited = 6;
				$("#dhondt-form").submit();
			});

			// Event for list all politcal parti lists
			document.getElementById('ppl-list-button').addEventListener("click", function() {
				last_emited = 7;
				$("#dhondt-form").submit();
			});

			// Event for save data of inputs
			document.getElementById('save-data-button').addEventListener("click", function() {	
				if (document.getElementById('dynamic-input-group3').style.display == "None") {
					saveScrutiny();
				} else {
					savePplist();
				}
			});
			

			window.addEventListener('load', function() {
				console.log('Page loaded!!');
				disable_selectors();
				disable_group_input();
				disable_selectors();
				enable_or_disable_buttons_and_selectors();
				disable_table();
				loadDistricts();
			});
		</script>
	</body>
</html>
